:root {
  --app-distance: 1em;
}

body {
  font-size: min(5vw, 5vh, 25px);
}

div.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.distanced {
  margin: var(--app-distance);
}

.distanced-right {
  margin-right: var(--app-distance);
}

.distanced-top {
  margin-top: var(--app-distance);
}

.distanced-top.compact {
  font-size: 10%;
}

div.resizable {
  width: 14em;
  aspect-ratio: 1.5;

  /* See https://interactjs.io/docs/resizable/ */
  touch-action: none;
  user-select: none;
}

div.overflow-hider {
  /* Follow the parent resizable div: */
  width: 100%;
  height: 100%;

  border-radius: 0.3em;
  overflow: hidden;
}

#myimg {
  /* Follow the parent resizable div: */
  width: 100%;
  height: 100%;

  /* Prevents top margin when height becomes smaller than the font size: */
  vertical-align: top;
}

div.resizer {
  float: right;
  position: relative;
  left: 2em;
  z-index: 999;

  background-color: #7f0f82;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

div.hint {
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

div.hint > span {
  float: right;
}

.pic-selector,
.mode-selector {
  width: 6em;
}

img.logo {
  width: 2em;
  height: 2em;
}

div.mailchimp {
  --mailchimp-color: #211d50;
  --mailchimp-border-radius: 12px;

  margin-bottom: calc(var(--app-distance) / 2);
}

div.mailchimp,
div.qr {
  text-align: center;
}

div.mailchimp > h6 {
  text-transform: none;

  line-height: 1;

  margin-top: calc(var(--app-distance) / 2);
  margin-bottom: 0.2em;
}

div.mailchimp > form {
  display: inline-flex;
  justify-content: space-between;

  border: 2px solid var(--mailchimp-color);
  border-radius: var(--mailchimp-border-radius);
  padding: calc(var(--mailchimp-border-radius) / 2);

  font-size: min(0.67em, var(--mailchimp-border-radius));
  width: 20em;
}

div.mailchimp input {
  border: 0;
  outline: 0;

  line-height: 1;
}

input#mce-EMAIL {
  width: 100%;
  color: var(--mailchimp-color);
  margin-left: calc(var(--mailchimp-border-radius) / 2);
  margin-right: calc(var(--mailchimp-border-radius) / 2);
}

input#mc-embedded-subscribe {
  background-color: var(--mailchimp-color);
  color: white;
  border-radius: calc(var(--mailchimp-border-radius) / 2);
  padding: calc(var(--mailchimp-border-radius) / 2) var(--mailchimp-border-radius);
  cursor: pointer;
}

img.qr {
  width: 6em;
  aspect-ratio: 1;
}

.qr {
  line-height: 1.2em;
}

a {
  color: unset !important;
}
